{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title>Login!</title>
        <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    </head>

    <body>

        <form id="login" method="POST">
            {% csrf_token %}

            <div id="username">
                <label>username:</label>
                <input type="text" name="username">
            </div>

            <div id="password">
                <label>password:</label>
                <input type="password" name="password">
            </div>

            <div id="submit">
                <input type="submit" name="login" value="Login">
            </div>

        </form>

    </body>

</html>